$green: #39b54a;
$light-green: #62ffb4;
$dark-green: #25583e;
$button-green: #25FF40;
$separator-green: #3AFF11;
$gray: #cbcbcb;
$red: #db4444;
$black: #171716;
$box-shadow: rgb(255 255 255 / 35%) 0 5px 15px;