@import '@/app/styles';

.form {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 5vw, 30px);
  align-items: center;
  justify-content: center;
}

.title {
  @include montserrat(40px, 700, 42px)
}

.subtitle,
.link {
  text-align: center;

  @include montserrat(15px, 400, 24px)
}

.link {
  margin-left: 5px;

  color: $light-green;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input__wrapper.checkbox__wrapper {
  flex-direction: row;
}

input.invalid {
  border-color: $red !important;
}

.field__wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 5vw, 30px);
  width: 100%;
  padding: 20px 10px;
  border: 2px solid #cbcbcb;
}

.button__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;  
  width: 100%;

  @media screen and (width <= 850px) {
    & {
      justify-content: center;
    }
  }
}

.editButtons__wrapper {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  width: 100%;
  max-width: 500px;
  
  @media screen and (width <= 850px) {
    & {
      justify-content: center;
    }
  }
}

.field__heading {
  @include montserrat(clamp(25px, 5vw, 30px), 400, 24px);
}

.input__date {
  color-scheme: dark;
}

.blocked {
  opacity: .7;

  pointer-events: none;
}