.modal__wrapper {
  position: fixed;
  z-index: 11;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  background-color: rgb(94 93 93 / 25%);
  backdrop-filter: blur(6px);
  inset: 0;
}

.field__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: clamp(10px, 5vw, 30px);
  width: 100%;
  max-width: 606px;
  padding: 30px;
  border: 2px solid #cbcbcb;
}

.field__heading {
  @include montserrat(clamp(25px, 5vw, 30px), 400, 24px);
}

.form {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 5vw, 30px);
  align-items: center;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;

  transition: .2s;

  fill: white;

  &:hover{
    cursor: pointer;

    transition: .2s;

    fill: red;
  }
}

input.invalid {
  border-color: $red !important;
}

.input__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.eye_icon {
  position: absolute;
  top: 50%;
  right: 0;

  cursor: pointer;

  transition: 0.3s ease;

  &:hover {
    fill: $light-green
  }
}